#headerSection {
    background-color: #DDDDFF;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    overflow: auto;

    top: 0px;
    left: 110px;
    height: 40px;
    width: 100%;

    border-bottom: 2px solid black;
}

#headerSection h1 {
    margin: 0;
    padding: 0px 0px 0px 2px;
}